/* Global */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121212;
    color: white;
}

body.light-mode {
    background-color: #f9f9f9;
    color: black;
}

body a {
    color: #3498db;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}
/*  */

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    padding: 10px 20px;

    background-color: #1a1a1a;
    color: white;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

body.light-mode header {
    background-color: #ffffff;
    color: black;
}

header > h1 {
    margin: 0;
    font-size: 24px;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;

    font-weight: bold;
}

header > nav > ul > li:hover {
    color: rgb(184, 184, 184);
    cursor: pointer;
}
/*  */

/* Global sections */
section {
    padding: 30px;
    max-width: 800px;
    background-color: #1a1a1a;
    border-radius: 9px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.light-mode section {
    background-color: #d4d4d4;
}

section h2 {
    margin: 0;
}
/*  */

/* About */
#about {
    display: flex;
    align-items: center;
}

#about img {
    max-height: 300px;
}
/*  */

/* Projects */
#projects {
    text-align: center;
}

#projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

/* Project embeds */
.projectEmbed {
    border-radius: 9px;
    padding: 5px;
    margin-top: 10px;

    width: 100%;

    background-color: #272727;
}

body.light-mode .projectEmbed {
    background-color: #e6e6e6;
}

.iconTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconTitle > img {
    width: 30px;
    margin-right: 5px;
}

.showcase > img {
    max-width: 90%;
    border-radius: 5px;
}

.showcase > iframe {
    width: 500px;
    height: 275px;

    max-width: 80%;

    border-radius: 8px;
}

.imgDesc {
    margin-top: 0;
    color: #b3b3b3;
}

body.light-mode .imgDesc {
    color: #3a3a3a;
}
/*  */


/* Socials */
aside {
    display: flex;
    position: sticky;
    float: right;
    top: 100px;

    margin: 20px;
}

#socials h2 {
    text-align: center;
    margin-bottom: 5px;
}

#socialIcons {
    display: flex;
    flex-direction: column;
}

#socialIcons i {
    font-size: 25px;
    margin-right: 5px;

    color: white;
}

body.light-mode #socialIcons i {
    color: black;
}

#socialIcons a {
    display: flex;
    align-items: center;

    font-weight: bold;
}

.external {
    padding-bottom: 10px;
    font-size: 11px;
}

/* Discord servers */
#serverList {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
}

#serverList > img {
    border-radius: 5px;

    cursor: pointer;
}

#serverInfo {
    text-align: center;
    margin-top: 10px;
    max-width: 300px;
}
/*  */

/* Small devices */
@media (max-width: 500px) {

    aside {
        display: none;
    }

    #about {
        display: flex;
        flex-direction: column-reverse;
    }

    #about > img {
        max-height: 130px;
        margin-bottom: 20px;
    }

    .projectEmbed iframe {
        max-height: 140px;
    }
}
/*  */