/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #323752;
  background-image: url("https://spud.jaimytuin.com/media/backgrounds/SpudsV2.png");
  background-blend-mode: overlay;
}

body.light {
  background-color: #525e9c;
}

body.dark {
  background-color: #323752;
}

.mobileHeader {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  align-items: center;
  visibility: visible;
  z-index: 20;
  color: #fff;
  background: #161a2d;

  padding-right: 10px;
}

.mobileHeader>img {
  width: 50px;
}

.mobileHeader > h2 {
  z-index: 20;
}

.mobileHeader > * {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Sidebar general styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: width 0.4s ease, visibility 0.4s ease;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;

  cursor: pointer;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #fff;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar .user-account {
  background: #232947;
  border-radius: 4px;
}

/* IFRAME --------------------------- */
iframe {
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 260px; /* Sidebar expanded width */
  height: 100vh;
  width: calc(100% - 260px); /* Adjust based on expanded sidebar width */
  border-width: 0;
}

/* Non mobile devices */
@media (min-width: 401px) and (max-width: 768px) {
  .sidebar {
    width: 85px;
  }

  .sidebar:hover {
    width: 260px;
  }

  .sidebar-links h4 span {
    opacity: 0;
  }

  .sidebar:hover .sidebar-links h4 span {
    opacity: 1;
  }

  .sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
  }

  .sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #4f52ba;
    transform-origin: right;
    transition-delay: 0.2s;
  }

  .sidebar .dropbtn .btn-text {
    display: none;
  }

  iframe {
    margin-left: 85px;
    width: calc(100% - 85px); /* Adjust based on expanded sidebar width */
    border-width: 0;
  }
}

/* Mobile */
@media (max-width: 400px) {
  body {
    overflow-y: hidden;
  }

  iframe {
    margin: 0;
    padding-top: 40px;
    width: 100%;
    height: 1fr;
  }

  iframe.iFrameHeightAdjust {
    padding-top: 40px;
  }

  /* Hamburger menu -------- */
  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 24px;
    justify-content: center;
    align-items: center;
    z-index: 10;

    margin-left: 10px;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 4px 0;
    transition: all 0.3s;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* Hamburger menu end -------- */

  .mobileHeader {
    display: flex;
  }

  .sidebar .sidebar-header {
    display: none;
  }

  .sidebar {
    width: 260px;
    padding: 25px 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    visibility: hidden;
  }
  
  .sidebar.open {
    transform: translateX(0);
    visibility: visible;
  }
  
  /* Using :not(.open) to delay the visibility change when closing */
  .sidebar:not(.open) {
    transition: transform 0.3s ease, visibility 0s 0.3s;
  }

  .sidebar-links h4 span {
    opacity: 1;
  }

  .sidebar.open .user-account {
    display: block;
    background: #232947;
    border-radius: 4px;
  }

  #asideServerSelector {
    display: none;
  }
}

/* QuickNav */
.mobileNavigation {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;

  justify-content: center;
  align-items: center;

  color: white;
  background: #161a2d;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);

  border-style: solid;
  border-width: 1px;
  border-color: #252b48;

  transition: transform 0.3s ease-in-out;
}

#quickNav {
  z-index: 10;
}

#menuTarget {
  background-color: #1a1f35;
}

.expanded {
  transform: translateY(-56px); 
  padding: 8px;
  /* Maybe change this to use calc? */
  /* height: 300px; */
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3px;
  text-align: center;
  padding: 5px;
  width: 70px;

  cursor: pointer;
}

.mobileNavigation span {
  font-size: 30px;
}

.mobileNavigation .subtext {
  font-size: 11px;
}

.mobileNavigation img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* Theme disable */
.themeDisabled {
  display: none;
}

/* Dropdown */
.serverDropdown {
    margin-right: 5px;
}

select {
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #2c345c;

    background-color: #272e50;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    color: white;

    appearance: none;
}

select:focus {
    outline: none;
    border-color: #1f2541;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}